# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Wails
cmd/client-wails/build/
cmd/client-wails/frontend/dist/
cmd/client-wails/frontend/node_modules/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Server Binaries
bin/
cmd/server/server
cmd/server/server.exe

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log